APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:alL/14RfVHfHuHy/jZbEvwtEDfU9p3NSeDCQ1m2+oRg=
APP_DEBUG=false
APP_URL=https://tattsvi.in

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_LEVEL=error


DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=keclribpbb_tattsvi_jewellery
DB_USERNAME=keclribpbb_tattsvi
DB_PASSWORD=udUhGzlQ+F7r


SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@tattsvi.in"
MAIL_FROM_NAME="${APP_NAME}"


TWILIO_SID=AC9ca33416a98f8d3c5c64688ecb32a442
TWILIO_AUTH_TOKEN=31f02acc3755b0edc8b0ee0b43375d48
TWILIO_PHONE_NUMBER=+14178073459